blib/
Makefile
MYMETA.*
pm_to_blib
debian/homelab-api/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/*.debhelper
drive-web-ui/debian/homelab-drive-web-ui/
drive-web-ui/debian/.debhelper/
drive-web-ui/debian/debhelper-build-stamp
drive-web-ui/debian/files
drive-web-ui/debian/*.substvars
drive-web-ui/debian/*.debhelper.log
drive-web-ui/blib/
drive-web-ui/Makefile
drive-web-ui/MYMETA.*
drive-web-ui/pm_to_blib
processor/debian/homelab-api-backend-processor/
processor/debian/.debhelper/
processor/debian/debhelper-build-stamp
processor/debian/files
processor/debian/*.substvars
processor/debian/*.debhelper.log
processor/debian/*.debhelper
sso-ui/debian/homelab-sso-ui/
sso-ui/debian/.debhelper/
sso-ui/debian/debhelper-build-stamp
sso-ui/debian/files
sso-ui/debian/*.substvars
sso-ui/debian/*.debhelper.log
sso-ui/debian/*.debhelper
sso-ui/blib/
sso-ui/Makefile
sso-ui/MYMETA.*
sso-ui/pm_to_blib
cli/debian/homelab-cli/
cli/debian/.debhelper/
cli/debian/debhelper-build-stamp
cli/debian/files
cli/debian/*.substvars
cli/debian/*.debhelper.log
cli/debian/*.debhelper
database/debian/homelab-database/
database/debian/.debhelper/
database/debian/debhelper-build-stamp
database/debian/files
database/debian/*.substvars
database/debian/*.debhelper.log
database/debian/*.debhelper
mailread/debian/homelab-mailread/
mailread/debian/.debhelper/
mailread/debian/debhelper-build-stamp
mailread/debian/files
mailread/debian/*.substvars
mailread/debian/*.debhelper.log
mailread/debian/*.debhelper
mailsend/debian/homelab-mailsend/
mailsend/debian/.debhelper/
mailsend/debian/debhelper-build-stamp
mailsend/debian/files
mailsend/debian/*.substvars
mailsend/debian/*.debhelper.log
mailsend/debian/*.debhelper
mail-proxy/debian/homelab-mail-proxy/
mail-proxy/debian/.debhelper/
mail-proxy/debian/debhelper-build-stamp
mail-proxy/debian/files
mail-proxy/debian/*.substvars
mail-proxy/debian/*.debhelper.log
mail-proxy/debian/*.debhelper
web-proxy/debian/homelab-web-proxy/
web-proxy/debian/.debhelper/
web-proxy/debian/debhelper-build-stamp
web-proxy/debian/files
web-proxy/debian/*.substvars
web-proxy/debian/*.debhelper.log
web-proxy/debian/*.debhelper
dns-server/debian/homelab-dns-server/
dns-server/debian/.debhelper/
dns-server/debian/debhelper-build-stamp
dns-server/debian/files
dns-server/debian/*.substvars
dns-server/debian/*.debhelper.log
dns-server/debian/*.debhelper
*.deb
*.buildinfo
*.changes
