#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	find pgsql -type f -exec install -D -m 644 {} \
		debian/homelab-mailsend/usr/share/homelab-mailsend/{} \;
	find migrations -type f -name '*.sql' -exec install -D -m 644 {} \
		debian/homelab-mailsend/usr/share/homelab-mailsend/{} \;

override_dh_auto_build:
	# Nothing to compile

override_dh_auto_test:
	# No package-build-time tests
