#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	install -D -m 644 backup-paths.txt \
		debian/homelab-mail-proxy/usr/share/homelab-mail-proxy/backup-paths.txt

override_dh_auto_build:
	# Nothing to compile

override_dh_auto_test:
	# No package-build-time tests
