#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	install -D -m 644 conf.d/90-homelab-database.conf.template \
		debian/homelab-database/usr/share/homelab-database/conf.d/90-homelab-database.conf.template
	install -D -m 755 scripts/backup.sh \
		debian/homelab-database/usr/share/homelab-database/scripts/backup.sh
	install -D -m 755 scripts/bootstrap-app-role.sh \
		debian/homelab-database/usr/share/homelab-database/scripts/bootstrap-app-role.sh

override_dh_auto_build:
	# Nothing to compile

override_dh_auto_test:
	# No package-build-time tests
